<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bupt.electricpower"
    android:sharedUserId="com.bupt.electricpower"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
          
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChartListActivity"
            android:screenOrientation="portrait" >
              
        </activity>
        <activity
            android:name=".activity.ApplyListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.TracesManagementActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ApplyDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ApplyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ElectricityGenerationInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ElectricityLoadChartActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CoalConsumeChartActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CoalStockChartActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.EditTraceInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AddTraceInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.QueryTracesListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.QueryTraceInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activity.ChartDemoActivity" >
        </activity>
        <activity android:name=".activity.ControllerActivity" >
        </activity>
    </application>

</manifest>